<h2 tabindex="0">
  »Any questions?«
</h2>

<img tabindex="-1"
     src="/assets/background/auditorium.webp"
     class="screenshot"
     width="811"
     height="185"
     alt="Auditorium">

<div tabindex="0">
  <p>
    Talks, lectures and since Corona also online seminars usually end with: »Any questions?«.
    And always nobody answers or the same ones always ask the questions.
    Hardly anyone in the lecture hall dares to answer,
    or the questions that one actually wanted to ask during the course of the lecture are forgotten.
    In the video conferencing system, you are not anonymous. The session may be recorded.
    The microphones are muted.
    The chat quickly becomes confusing; the teacher can hardly follow the comments and questions.
  </p>

 <p>
   If you want your lectures and online seminars to be reflected upon,
   you need a tool that allows you to ask questions anonymously and silently.
   Such an open source tool is available free of charge with »frag.jetzt«.
   Are there any concerns?
   Is the tool accessible, data protection compliant,
   immediately usable with any end device without training and without technical understanding?
   Three times yes.
 </p>

  <p>
    If I let »frag.jetzt« be used anonymously and thus without social control, do I not invite abuse?
    No, because the question list can be moderated live by an assistant:
    Only questions appropriate to the lecture remain on the list.
    In addition, you can automatically move all new questions to the moderator:
    They only become public when you or your moderator release them individually.
  </p>

  <p>
    But I cannot answer all questions in the last ten minutes of my lecture or in the online seminar.
    Sure. This is where the collective tool aspect comes into play:
    everyone in the audience can rate each question, in other words, vote up or down.
    You can answer the questions rated highest by the audience immediately,
    the others, if you wish, later in »frag.jetzt« or in the course forum of the learning platform.
    You can also use the tool before the meeting,
    to collect questions from the participants and make them available to each other for weighting.
    This involves the participants even before the meeting,
    allows you to ask for expectations and previous knowledge and helps you to adapt your presentation or seminar accordingly.
  </p>
</div>

<h2 tabindex="0">
  What's so special about »frag.jetzt«?
</h2>
<p>
  What makes our backchannel tool different from »Mentimeter«, »Slido«, »Poll Everywhere« and many other commercial feedback apps?
  It's the result of many years of experience with audience response systems in classroom and online teaching.
  Besides an intuitive usability, proven in empirical UX studies with hundreds of students,
  didactic and motivational criteria were decisive for the conception and development of the app,
  see our <a class="info" href="https://arsnova.thm.de/blog/en/homepage/" target="_blank">ARSnova blog<span> Opens new page</span></a>:

</p>
<div tabindex="0">
  <p>
    <strong>Awarding a bonus for questions</strong><br><br>The teacher can award bonus points for good questions.
    Awarded questions receive a star and the student finds an 8-digit number code (»token«) for each star on the session
    account.
    The tokens can be redeemed for bonus points by sending an e-mail to the teacher.
  </p>
  <p>
    <strong>Answering questions</strong><br><br>Teachers and moderators can affirm, deny and comment on questions or mark them as discussed.
    Of course, the symbols can also be used for other labelling purposes.
    They also serve as filter criteria to quickly find marked questions.
    That students cannot comment on questions is intentional:
    »frag.jetzt« should not be Facebook or Twitter.
    If we allowed it, the students would only be busy commenting on their fellow students' questions.
  </p>
  <p>
    <strong>Categorizing questions</strong><br><br>The session creator can define categories (tags) for questions.
       The question poser can assign his or her question to one of the predefined categories.
       Categorized questions can be filtered by clicking on the tag.
       For example, tagging allows the moderator of a panel discussion to filter questions from the audience by topic or addressee:
       tag »Question to Mr. Biden«, tag »Question to Mr. Trump« …
  </p>
  <p>
    <strong>Presenting questions in a focused way</strong><br><br>For the discussion of the questions on the beamer, they can be presented individually in full view.
    To move on to the next question, simply press the space bar.
    You can also activate the display in "kiosk mode":
    Then, incoming new questions are automatically shown in full view.
    Switching to the next question is delayed to allow reading.
    On the question board, constantly new questions or ratings can make reading and presenting difficult, as the positions of the questions change.
    With the pause icon the question stream can be frozen.
    However, new questions or ratings are still possible.
    If the presenter clicks on a question on the question board, it appears in full view.
    At the same time, the question flashes on the end devices of all participants to attract their attention.
  </p>

  <p>
    <strong>Search, sort and filter questions</strong><br><br>
    The quick location of specific questions is made possible by search, sort and filter options.
    The full text search also includes the answers.
    Sorting is possible by time and rating.
    The following filter criteria can be selected: Bonus-awarded, answered, discussed, affirmed, negated and own questions.
    By clicking on the tag icon of a question, all questions of this category are displayed.
    By clicking on the user icon of a question, all questions of this user will be displayed.
    This allows you to assess the distribution of questions among the question posers:
    How many people participate? Which questions does one and the same person ask?
  </p>

  <p>
    <strong>Free of charge with full functionality</strong><br><br>Any number of sessions can be created free of charge as a guest or registered user.
    Only the sessions of registered users remain permanently.
    Only 180 days after the last use of a session it will be deleted automatically.
  </p>
  <p>
    <strong>Accessible</strong><br><br>
    In »frag.jetzt« the use cases are read aloud by an audio guide and can be navigated with the numeric keys.
    This allows you to use the app comfortably and quickly without having to explore the entire page with the screen reader first.
    The user interface meets the readability requirements of WCAG 2.1 AA.
    Appropriate display options are available for projector presentations and for visually impaired persons.
    In particular, the font size of the questions can be scaled as needed.
    Besides the room code, a session can also be entered directly via an automatically generated link (clipboard icon on the session page).
  </p>
  <p>
    <strong>Data protection</strong><br><br>»frag.jetzt« can be used completely anonymously when registering as a guest.
    The accounts of registered users are stored and managed in accordance with the data protection regulations of the
    DSGVO.
    The program code is »Open Source Software« and can be viewed on GitHub.
    »frag.jetzt« is operated as free »Software as a Service« by TransMIT GmbH, see imprint.
    If you want to run »frag.now« on your own server, you will find a Docker installation guide on
    <a class="info"
       href="https://github.com/thm-projects/frag.jetzt/blob/master/README.md"
       target="_blank">GitHub <span>Opens new window</span></a>
    or you can commission TransMit GmbH with it.
  </p>
  <p>
    <strong>»Progressive Web App« (PWA)</strong><br><br>
    Although an ordinary Web page, it behaves like an app from the app store.
    You can install it from within the browser without downloading: »Add to Home Page«.
    After that it will start like an ordinary app.
    As a PWA, it runs on any smartphone, no matter what operating system, no matter what browser.
    So your audience will always be ready to use »frag.jetzt« on their mobile devices.
  </p>
  <p>
    <strong>Free Software and without advertising</strong><br><br>
    Since winter semester 2019/20 »frag.jetzt« is an open source project of the Technische Hochschule Mittelhessen, THM.
    The website is manufacturer-neutral and free of advertising.
    Further development is guaranteed for the next five years.
    Then the project manager will retire and will run the project as a hobby.
    But until then, hundreds of computer science students of THM will be engaged and continuously working on all aspects of software development
    (user experience, high availability and security) —not for money, but for credit points and good grades.
  </p>
  <p>
    <strong>Outlook</strong><br><br>
    We will integrate »frag.jetzt« into the free video conferencing system »Big&shy;Blue&shy;Button« (BBB) as a plugin in the near future.
    So we will be able to offer all advantages of our feedback app in BBB without switching between browser tabs.
    Stay tuned!
  </p>
</div>

<h2 tabindex="0">Activate students online</h2>

<p>
  Anyone who has held online seminars in a video conferencing system for 90 minutes
  knows what it means to speak against a »digital wall«:
  Talking without feedback with a tendency to talking to yourself.
  Whether the participants really listen, understand what they are hearing or are even present at all cannot be seen. Their cameras are switched off.
  Malte Persike explains how students can be activated with back-channel tools like »frag.jetzt« in spite of the wall:
</p>

<div class="video">
  <div class="videoWrapper">
    <iframe tabindex="0"
            width="560" height="315"
            src="https://www.youtube.com/embed/lj1HMvZ73xY?autoplay=0" frameborder="0"
            allowfullscreen
    ></iframe>
  </div>
</div>

<h2 tabindex="0">Mobile phone use in the lecture hall</h2>
<div tabindex="0">
  <p>
    The use of the smartphone during the lecture naturally entails a high risk of distraction.
    We have learned from our many years of experience with audience response systems in lecture halls,
    how to didactically approach the risk of distraction:
  </p>

  <ol>
    <li>
      <p>Mobile phone use during the lecture:</p>
      <p>An assistant moderates the question board on site or from a distance.
         10 minutes before the end of the lecture, the teacher answers 2-3 top questions on the beamer.
         <br><br>
         What if I don't have an assistant available?
         Follow Malte Persike's advice from the video above:
         Ask someone from the front row to take over this job.
         She or he won't say no.</p>
    </li>
    <li>
      <p>Mobile phone use only during the break:</p>
      <p>The teacher announces the room code during the break and moderates the questions himself.
        After the break she answers 2-3 top questions.</p>
    </li>
    <li>
      <p>No mobile phone use during the lecture:</p>
      <p>The teacher creates a new session at the end of each lecture.
        Students can ask and rate questions at home.
        The question board is moderated by an assistant or the teacher himself.
        In the first 10 minutes of the next lecture the teacher answers 2-3 top questions.</p>
    </li>
    <li>
      <p>No mobile phone use during the lecture:</p>
      <p>The teacher creates a session for the entire duration of the course.
        An assistant moderates the question board during the semester.
        The teacher marks the relevant questions and deletes all others.
        The question list thus serves to reflect on the lecture contents and to prepare for the exam.</p>
    </li>
  </ol>
</div>

<h2 tabindex=0>Icons and buttons</h2>

<img tabindex=-1 src="/assets/images/poster.webp"
class="screenshot"
width="850"
height="1200"
alt="Info poster about frag. jetzt">

<h2 tabindex="0">Question board from the view of a participant</h2>

<img tabindex=-1 src="/assets/images/participant.webp"
     class="screenshot"
     width="400"
     height="805"
     alt="Question board from the view of a participant">

<p tabindex="0">Header of the question board</p>
<div tabindex="0">
  <ol>
    <li>Back to previous page</li>
    <li>Session is moderated</li>
    <li>QR code of the session</li>
    <li>Sessions attended and bonus tokens received</li>
  </ol>
</div>

<p tabindex="0">Toolbar of the question board</p>
<ol tabindex="0">
  <li>Number of incoming questions</li>
  <li>Browse question board</li>
  <li>Sort questions</li>
  <li>Filter questions</li>
  <li>Stop question stream</li>
  <li>Ask a question</li>
</ol>

<p tabindex="0">Top toolbar of a question card</p>
<ol tabindex="0">
  <li>Time stamp of question</li>
  <li>Lecturer has discussed the question (beamer icon)</li>
  <li>Lecturer has commented on the question</li>
  <li>Lecturer has affirmed the question</li>
  <li>The question was marked by the lecturer or moderator (star icon)</li>
</ol>

<p tabindex="0">Bottom toolbar of a question card</p>
<ol tabindex="0">
  <li>Filter questions by category (tag icon)</li>
  <li>Filter questions of a certain person (user icon)</li>
</ol>

<h2 tabindex="0">Session management</h2>

<img tabindex=-1 src="/assets/images/lecturer.webp"
     class="screenshot"
     width="800"
     height="600"
     alt="Screenshot of the session management options">

<p tabindex="0">Click on the gearwheel icon to open the management options:</p>
<ol tabindex="0">
  <li>Session: Here you can change the name of the session and add a description.
      You can use <a class="info" href="https://en.wikipedia.org/wiki/Markdown" target="_blank">Markdown <span>Opens new window</span></a> for text formatting.
    This is also the place to delete the session with all questions and ratings.
  </li>
  <li><p>Questions:</p>
    <p>You can set a threshold for publishing a question,
      that is, the negative rating at which a question is displayed. The value is between -100 and 0.</p>

    <p>You also specify whether new questions are to be displayed before being moderated.
      This is also the place to export all questions with their ratings to an Excel spreadsheet.
      Furthermore you can delete all questions to use the session again.</p>
  </li>
  <li><p>Moderators:</p>
    <p>You can only accept registered users as moderators.
      For this you need the email address with which he or she registered.</p>
  </li>
  <li><p>Tokens for bonus stars:</p>
    <p>If you annotate a question with a star,
      an 8-digit number code (»token«) is generated for the question and listed here.
      The author of the question will find the token in his account and can use it to redeem the bonus.</p>
  </li>
  <li><p>Tags:</p>
    <p>Here you can define session-specific categories that your listeners can use to tag their questions.
      The tag will then appear next to each question.
      With a click on it, all questions will be filtered with this tag.</p>
  </li>
</ol>

<h2 tabindex="0">Role concept of »frag.jetzt«</h2>


<div tabindex=0 class="video">
  <div class="videoWrapper">
    <iframe tabindex="0"
            width="560" height="315"
            src="https://www.youtube.com/embed/qHRC6z9VtWs?autoplay=0" frameborder="0"
            allowfullscreen
    ></iframe>
  </div>
</div>

<div id="demoContentTranscript" class="overflow_hide" tabindex="2">
  <h2>Welcome to the demo of frag.jetzt!</h2>


  <p>My name is Klaus Quibeldey-Cirkel. I am a professor of computer science at the Technical University
    Mittelhessen
    and
    Project manager of frag.jetzt.
    In the imprint of the app you can find a detailed description of the project.</p>

  <p>Now for the demo:
    In frag.jetzt there are three roles: the teacher, the student and the moderator.
    Correspondingly, you see three browsers in which I play in the respective role the usage scenario of frag.jetzt
    I will demonstrate.</p>

  <p>Create a session by clicking the plus button.
    You give your session a name
    and that's it!
    You tell your students the room code or the link to the session.</p>


  <p>As a student I now enter the room code or the link to the session.
    I could ask a question right away. But first I want to bring the moderator of the question board into the game:
    I go to my session, open the settings and select the menu item "Questions".</p>


  <p>By default, moderation is activated and all student questions are published directly.
    If a question is to be released by the moderator, the corresponding switch must be flipped.
    With the threshold value switch I can determine the negative rating above which questions are displayed.
    should.
    Now I have to add a moderator to my session:
    To do this, I enter the email address with which he registered himself at frag.jetzt.
    I register now as a moderator at the app and go into the session to be moderated.
    In the lecture I go to the question board of the session in the role of moderator.
    and in the role of lecturer, waiting for questions from students.
    As a moderator, I can ban unwanted or inappropriate questions from the question board.
    I could also ban closed questions (to which I can answer yes or no) with the corresponding icons.
    mark
    and highlight particularly interesting questions with a star.
    All participants will see these ratings.</p>

  <p>As a lecturer I can discuss the questions at the end of the lecture, which are mostly highly rated by the
    students.
    I click on the question to do this.
    The question is displayed in full view on the beamer and highlighted in the participants' browsers.
    A moderator can only ban questions from the question board, not delete them. Only the lecturer can do that.</p>

  <p>All other functions, such as sorting and filtering questions or stopping the question stream,
    you can find out in a playful way by placing two or three browsers next to each other on your laptop yourself
    and play through the usage scenario in different roles.
    How you can use frag.jetzt in your lecture or in your course during the semester, I describe further
    below.</p>

  <p>I thank you for your interest in frag.jetzt and look forward to your feedback. You can find my e-mail address
    in
    the
    Imprint.</p>
</div>

<h2 tabindex="0">Feedback to the developers</h2>

<p tabindex="0">
  Go to the »Feedback« room for questions, suggestions, praise and criticism.
  For further information please visit the <a class="info" href="https://arsnova.thm.de/blog/frag-jetzt/" target="_blank">ARSnova
  blog <span>Opens new window</span></a>.

</p>

<h2 tabindex="0">Screen Readers </h2>

<p tabindex="0">

  Based on our own tests with blind people
  we recommend the following screen readers for the use of »frag.jetzt«:
  <br>
  <br>

  Windows computer:
  <a class="info"
     href="https://www.nvaccess.org/"
     rel="noreferrer"
     target="_blank">NVDA<span>opens new page</span></a>
  <br>

  Linux computer:
  <a class="info"
     href="http://www.chromevox.com/installing.html"
     rel="noreferrer"
     target="_blank">ChromeVox<span> Opens new page</span></a>
  <br>

  macOS computer:
  <a class="info"
     href="https://help.apple.com/voiceover/mac/"
     rel="noreferrer"
     target="_blank">VoiceOver<span> Opens new page</span></a>
  <br><br>
</p>
